<div class="products woloc">
  <div class="product head">
    <div class="name">Name</div>
    <div class="abv">ABV</div>
    <div class="price">Price</div>
    <div class="locations">Locations</div>
    <div class="stock">Stock</div>
  </div>

  {% if ales %}
    <h2>Real Ales</h2>
    {% include "emf/ontap-lines.html" with lines=ales %}
  {% endif %}

  {% if kegs %}
    <h2>Keg Taps</h2>
    {% include "emf/ontap-lines.html" with lines=kegs %}
  {% endif %}

  {% if ciders %}
    <h2>Ciders</h2>
    {% include "emf/ontap-lines.html" with lines=ciders %}
  {% endif %}

</div>