<div style="font-size: 19pt">
  <table>
    <colgroup>
      <col width="50%" />
      <col width="16.66%" />
      <col width="16.66%" />
      <col width="16.66%" />
    </colgroup>
    <thead>
      <tr>
	<th scope="col">Name</th>
	<th scope="col">ABV</th>
	<th scope="col">Price</th>
	<th scope="col">Stock status</th>
      </tr>
    </thead>

    {% if ales %}
    <tbody class="sub">
      <tr>
	<th colspan="4">Real Ales</th>
      </tr>
      {% include "emf/ontap-lines.html" with lines=ales %}
    </tbody>
    {% endif %}

    {% if kegs %}
    <tbody class="sub">
      <tr>
	<th colspan="4">Keg Taps</th>
      </tr>
      {% include "emf/ontap-lines.html" with lines=kegs %}
    </tbody>
    {% endif %}

    {% if ciders %}
    <tbody class="sub">
      <tr>
	<th colspan="4">Ciders</th>
      </tr>
      {% include "emf/ontap-lines.html" with lines=ciders %}
    </tbody>
    {% endif %}
  </table>
</div>
