{% extends "emf/base.html" %}
{% load static %}
{% block title %}EMF Camp Bars — Price List{% endblock %}

{% block heading %}
  <a class="logo" href="/"><img src="/static/emf/img/logo.svg"></a>
  <h1>Price List</h1>
{% endblock %}

{% block content %}
{{ content }}

<div class="alert-block warning">
  <strong>Note:</strong> Not all draught beers and ciders are on sale at the same
  time. See <a href="{% url "frontpage" %}">the front page</a> for the
  current selection.</div>


<!-- sde1000: remove the woloc class when you add the locations column -->
<div class="products woloc">
  <div class="product head">
    <div class="name">Name</div>
    <div class="abv">ABV</div>
    <div class="price">Price</div>
    <div class="locations">Locations</div>
    <div class="stock">Stock</div>
  </div>

  {% for p, remain_pct in products %}
    {% ifchanged p.department.description %}
      <h2>{{p.department.description}}</h2>
    {% endifchanged %}
    <div class="product">
      <div class="name">{{ p.manufacturer }} {{ p.name }}</div>
      <div class="abv">{% if p.abv != None %}{{ p.abv }}%{% endif %}</div>
      <div class="price">£{{ p.saleprice }}/{{ p.unit.item_name }}</div>

      <!-- For sde1000's future features -->
      <div class="locations">
        <!-- <span class="location cybar">Cybar</span> -->
        <!-- <span class="location robotarms">Robot Arms</span> -->
      </div>

      <div class="stock">
        {% if remain_pct < 5.0 %}
          <span class="orb lastfew" title="Last few"></span>
          <span class="text">Last few</span>
        {% elif remain_pct < 15.0 %}
          <span class="orb low" title="Low"></span>
          <span class="text">Low</span>
        {% else %}
          <span class="orb plenty" title="Plenty"></span>
          <span class="text">Plenty</span>
        {% endif %}
      </div>

    </div>
  {% endfor %}
</div>

{% endblock %}
