{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}EMF Tap Board{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="manifest" href="{% static "emf/tapboard-manifest.json" %}">
    <link rel="STYLESHEET" type="text/css" href="{% static "emf/css/tapboard.css" %}">
    <script>
      const websocket_address = "{{websocket_address}}";
    </script>
    <script src="{% static "emf/js/tapboard.js" %}" defer></script>
  </head>
  <body>

    <button id="menubutton"><img src="{% static "emf/img/tapboard-menu-icon-white.svg" %}" alt=""></button>

    <div class="d-none" id="tastingNotesContainer">
      <div id="tastingNotes"></div>
    </div>

    <div class="d-none" id="noteFormContainer">
      <form>
        <p><label for="noteInput">What's the problem?</label></p>
        <p>
          <button class="setNote">It's frothy</button>
          <button class="setNote">It's run out</button>
        </p>
        <p><input id="noteInput" value=""></p>
        <p>
          <button class="updateNote">Update note</button>
          <button class="cancel" type="reset">Cancel</button>
        </p>
      </form>
    </div>

    <div id="setup" class="d-none">
      <header>
        <h1>EMF Tap Board Setup</h1>
      </header>

      <!-- Setup page -->
      <div class="page">
        <p id="setupStatus"></p>

        <form class="d-none" id="setupForm" onsubmit="return finish_setup();">
          <p>
            <label for="stocklineSelect">Stock line:</label>
            <select name="stocklines" id="stocklineSelect">
              <option value="stockline/1">Fake stockline 1</option>
            </select>
          </p>
          <p>
            <label for="notePassword">Password for setting notes:</label>
          </p>
          <p>
            <input class="d-none" type="text" id="username" name="username" autocomplete="username" value="EMF">
            <input type="password" id="notePassword" autocomplete="off">
          </p>
          <p class="smaller">(Leave the password field blank if you do
            not need to enable the "Set stock line note" function on
            this display.)
          </p>
          <div class="center">
            <button type="submit">Configure</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Run pages -->
    <div id="run" class="d-none">
      <header>
        <h1 id="linename"></h1>
        <button id="notebutton" class="report"><span></span></button>
      </header>

      <div class="page">
        <div class="logo" style="background-image: url('{% static "emf/img/unknown-brand.png" %}');"></div>
        <p class="product"></p>
        <p class="price"></p>
        <p class="linenote">Not connected to till</p>
        <p class="connectedStock d-none">
          <span class="well">
            <span class="label">Connected:</span>
            <span class="bar"></span>
          </span>
        </p>
        <p class="totalStock d-none">
          <span class="well">
            <span class="label">Total:</span>
            <span class="bar"></span>
          </span>
        </p>
      </div>
    </div>

  </body>

  <script>
    if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register(
            "{% url "tapboard-sw" %}", {scope: '/'});
    }
  </script>

</html>
