// Main colours
$foreground: white;
$background: #000730;

$highlightFG: #000730; // text colour for highlights
$highlightBG: #2AE28C; // background colour for highlights
$highlightAlt: #2EADD9;

$success: #2AE28C;
$warning: #F77F02;
$danger: #F5515E;