@use 'colours' as *;

@keyframes pulse {
    0%, 100% { background-color: transparent; }
    30%, 70% { background-color: $danger; }
}

table {
    line-height: 1.5;
    width: 100%;
    border-spacing: 0;

    &.large {
        font-size: 21pt;
    }

    thead {
        th {
            text-align: left;
        }
    }

    tbody {
        th {
            text-align: left;
        }

        &.sub th {
            font-weight: 600;
            padding-top: 12pt;
            border-bottom: 1px solid $foreground;
        }

        .stock {
            .orb {
                background-color: black;
                width: 0.6em;
                height: 0.6em;
                display: inline-block;
                margin-right: 0.2em;
                margin-bottom: 0.1em;
                border-radius: 1em;

                &.lastfew {
                    animation: pulse 1s ease-in-out infinite;
                }

                &.plenty {
                    background-color: $success;
                }

                &.low {
                    background-color: $warning;
                }
            }
        }

        tr:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

.bargraph {
    width: 100%;
    border: .15em solid $highlightBG;
    color: #000000;
    height: 2.5em;
    border-radius: 10em;
    overflow: hidden;
    position: relative;

    .bar {
        background: $highlightBG;
        overflow: hidden;
        border-radius: 10em;
        height: inherit;
        text-align: center;
        color: $highlightFG;

        span {
            font-size: 1em;
            line-height: 2.3em;
            overflow: hidden;
        }
    }
}

.screen {
    .bargraph {
        height: 3em;
    }

    .bar span {
        font-size: 1.5em;
    }
}


.marker {
    background: #123f8b;
    height: inherit;
    text-align: center;
    font-size: 1em;
    border-right: 0.25em solid white;
    position: absolute;
    top: 0;
    left: 0;

    .remaining {
        background: #123f8b;
    }
}
