/* EMF tap board PWA CSS */
/* -*- coding: utf-8 -*- */

@charset "UTF-8";
@use 'fonts' as *;

// Main colours
$foreground: white;
$background: #000730;

$highlightFG: #000730; // text colour for highlights
$highlightBG: #2AE28C; // background colour for highlights
$highlightAlt: #2EADD9;

$success: #2AE28C;
$warning: #F77F02;
$danger: #F5515E;

body {
    background: $background;
    color: $foreground;
    font-size: 24pt;
    font-family: $bodyFont;
    margin: 0;
}

.d-none {
    display: none !important;
}

button {
    font-size: 18pt;
    background-color: $background;
    color: $foreground;
    border: 2px solid $foreground;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 0.25em;
}

a, a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headlineFont;
    padding: 0;
    margin: 0 0 0.25em 0;
}

header {
    position: absolute;
    padding: 1rem;

    h1 {
        font-size: 1.2em;
    }

    #notebutton {
        font-size: 10pt;
        display: block;
        margin: 0;
    }
}

#menubutton {
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0.5;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#tastingNotesContainer {
    max-height: 25%;
    overflow: scroll;
}

#tastingNotesContainer,
#noteFormContainer {
    position: absolute;
    top: 25%;
    left: 10%;
    right: 10%;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    border: .1em solid white;
    backdrop-filter: blur(10px);
    border-radius: .5em;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .75);

    p {
        margin: 0 0 .5em 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    input {
        font-size: inherit;
    }
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    padding: 1rem;
    box-sizing: border-box;

    .logo {
        flex: 1;
        min-height: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    p {
        margin: 0;
        padding: 0;
        flex-shrink: 0;
        text-align: center;
    }

    .product {
        font-weight: bold;
        font-size: 1em;
        margin-top: 0.5em;
    }

    .price {
        font-size: 1em;
    }

    .linenote {
        font-size: 0.8em;

        &.caution::before {
            content: '';
            display: inline-block;
            background: no-repeat url('../img/caution-icon.svg');
            width: 30px;
            height: 30px;
            vertical-align: middle;
            margin-right: .2em;
        }
    }

    .totalStock, .connectedStock {
        font-size: 0.8em;
    }
}

#setup {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    padding: 1rem;
    box-sizing: border-box;

    header {
        position: relative;
    }

    .page p {
        text-align: left;
        margin-bottom: 0.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    input, select {
        font-size: inherit;
        margin-bottom: 1em;
    }

    .smaller {
        font-size: 0.8em;
    }

    #setupStatus {
        margin-bottom: 1em;
    }
}