/* EMF tap board PWA CSS */
/* -*- coding: utf-8 -*- */

@charset "UTF-8";
@use 'fonts' as *;
@use 'colours' as *;

// Main colours
$foreground: white;
$background: #74757c;

@keyframes pulse {
    0%, 100% { background-color: transparent; }
    30%, 70% { background-color: $warning; }
}


body {
    background: $background;
    color: $foreground;
    font-size: 24pt;
    font-family: $bodyFont;
    margin: 0;
}

.d-none {
    display: none !important;
}

button {
    font-size: 18pt;
    background-color: $background;
    color: $foreground;
    border: 2px solid $foreground;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 0.25em;

    &.report {
        width: 5em;
        height: 5em;
        border: 5px solid #74757c;
        outline: 3px solid #aaabba;
        background: #F57D87;
        background: radial-gradient(circle,rgba(245, 125, 135, 1) 0%, rgba(245, 81, 94, 1) 70%, rgba(227, 50, 64, 1) 100%);
        box-shadow: 0 0 3px rgba(0, 0, 0, 1);
        padding: 0;
        overflow: hidden;

        span {
            display: block;
            width: 100%;
            height: 100%;
            background-image: url('../img/alert-triangle.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 75%;
        }

        &:active {
            background: #541e2c;
            background: radial-gradient(circle, rgba(84, 30, 44, 1) 0%, rgba(110, 31, 32, 1) 70%, rgba(84, 17, 22, 1) 100%);
        }
    }
}

a, a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headlineFont;
    padding: 0;
    margin: 0 0 0.25em 0;
}

header {
    position: absolute;
    padding: 1rem;

    h1 {
        font-size: 1.2em;
    }

    #notebutton {
        font-size: 10pt;
        display: block;
        margin: 0;
    }
}

#menubutton {
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0.5;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#tastingNotesContainer {
    max-height: 25%;
    overflow: scroll;
}

#tastingNotesContainer,
#noteFormContainer {
    position: absolute;
    top: 25%;
    left: 10%;
    right: 10%;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    border: .1em solid white;
    backdrop-filter: blur(10px);
    border-radius: .5em;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .75);

    p {
        margin: 0 0 .5em 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    input {
        font-size: inherit;
    }
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    padding: 1rem;
    box-sizing: border-box;

    .logo {
        flex: 1;
        min-height: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    p {
        margin: 0;
        padding: 0;
        flex-shrink: 0;
        text-align: center;
    }

    .product {
        font-weight: bold;
        font-size: 1em;
    }

    .price {
        font-size: .8em;
        line-height: 1;
    }

    .linenote {
        margin-top: 0.5em;
        font-size: 0.6em;

        &.caution::before {
            content: '';
            display: inline-block;
            background-color: $warning;
            width: 1em;
            height: 1em;
            vertical-align: middle;
            margin-right: .2em;
            margin-bottom: .2em;
            border-radius: 1em;
            animation: pulse 1s ease-in-out infinite;
        }
    }

    .totalStock, .connectedStock {
        margin-top: 0.5em;

        &:first-child {
            margin-top: 0;
        }

        span {
            line-height: 1;
        }

        .label {
            font-size: 0.6em;
            margin-bottom: 0;
        }

        .well {
            background: #aaabba;
            width: 75vw;
            display: grid;
            border-radius: 1em;
            overflow: hidden;
            border: 5px solid #74757c;
            outline: 3px solid #aaabba;
            margin: 0 auto;

            .label {
                grid-area: 1 / 1;
                font-size: 0.5em;
                text-align: center;
                z-index: 1;
                padding: 0.2em 0;
                color: black;
            }

            .bar {
                grid-area: 1 / 1;
                width: 10%;
                background: $highlightBG;
                align-self: stretch;
            }
        }
    }
}

#setup {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    padding: 1rem;
    box-sizing: border-box;

    header {
        position: relative;
    }

    .page p {
        text-align: left;
        margin-bottom: 0.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    input, select {
        font-size: inherit;
        margin-bottom: 1em;
    }

    .smaller {
        font-size: 0.6em;
    }

    #setupStatus {
        margin-bottom: 1em;
    }
}